# Example connections.yaml file that get's loaded when airflow spins up the first time
# This add `connections` amd `variables` to Airflow, but if the container already spun up
# before, leaves the (possibly adjusted) in place. See docker-file airflow-webserver

dreem_kiel:
  conn_type: HTTP
  description: "Custom API connection with Dreem servers"
  host: deem_url_api
  login: deem_user_kiel
  password: dreem_pass_kiel
  extra: |
    {
      "jwt_url": "https://url.for.token/",
      "jwt_token_path": "dict.path.to.token",
      "user_id": "dreem_kiel_uid"
    }
  port: null
  schema: null

ucam_default:
  conn_type: JWT
  description: "Custom API connection with UCAM servers"
  host: ucam_url_api
  login: ucam_user
  password: ucam_pass
  extra: |
    {
      "jwt_url": "https://url.for.token/",
      "jwt_token_path": "dict.path.to.token"
    }
  port: null
  schema: null