**/.DS_Store
**/*/__pycache__/
__pycache__

# secrets
*.env
init/connections.yaml
init/variables.json

# local files for development
ideafast_etl/dummy/*
!.gitkeep

# custom code is stored in a root-level folder (ideafast_etl)
# but loaded into the 'dag' folder (which in airflow is /root)
dags/ideafast_etl

# Exported reuirements, better to export locally
requirements.txt

# Airflow Development
airflow/*
!airflow/.gitkeep
!dev.env
logs/
plugins/
downloads/

# Testing
.coverage
.pytest_cache
.mypy_cache
.nox
